@media (max-width: 992px) {
	main {
		width: 95vw;
		grid-template-columns: 1fr 300px;
	}

	/* Header */

	header > div {
		padding: 0 20px;
	}

	.search input {
		width: 350px;
	}

	header > div > div:first-child {
		width: 75vw;
	}

	header > div > div:last-child {
		width: 10vw;
	}

	/*  Articles */
	.card-info > div {
		width: 55%;
	}

	/* Nav-center */
	.nav-center > div:not(:first-child) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}

	/* Birthdays */
	.birthdays > div:nth-child(even) > div {
		flex-direction: column;
		align-items: center;
	}

	.birthdays > div:nth-child(even) > div > div {
		text-align: center;
	}

	.birthdays > div:nth-child(even) img {
		margin: 0;
	}
	.birthdays > div:nth-child(even) h3 {
		margin-top: 4px;
	}
}

/* -----------------2 quebra------------------------- */

@media (max-width: 768px) {
	main {
		grid-template-columns: 1fr 160px;
		justify-items: center;
	}

	/* header */
	.search input {
		width: 200px;
	}

	header > div > div:last-child {
		width: 15vw;
	}

	/* Articles */
	.articles > div:not(:first-child) {
		flex-direction: column;
		align-items: center;
		padding: 10px;
	}

	.articles > div:not(:first-child) h3 {
		align-self: center;
		padding: 10px 0;
	}

	.articles > div:not(:first-child) p {
		text-align: justify;
	}

	.card-info {
		padding-top: 10px;
	}

	.card-info > div {
		width: 25%;
	}

	.articles {
		display: grid;
	}

	#pagination {
		display: block;
		width: 20px;
		text-align: center;
		justify-self: center;
	}

	/* Nav-center */
	.nav-center > div:not(:first-child) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(7, 1fr);
		justify-items: center;
		max-width: 150px;
	}

	/* Birthdays */
	.birthday-info p:nth-child(2) {
		display: none;
	}
}

/* ------------------ 3 quebra ------------- */

@media (max-width: 576px) {
	main {
		grid-template-columns: 1fr;
	}

	section {
		width: 80vw;
	}

	/* Header */
	.menu span {
		display: none;
	}

	/* Nav-center */
	.nav-center > div:not(:first-child) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		max-width: 90vw;
	}

	/* Birthdays */
	.birthdays > div:nth-child(even) > div {
		flex-direction: row;
	}

	.birthday-info img {
		padding: 0 20px;
	}

	.birthday-info p:nth-child(2) {
		display: block;
	}

	.birthday-info p,
	.birthday-info h3 {
		text-align: left;
		margin-left: 20px;
	}
}

/* ------------- 4 quebra ----------- */

@media (max-width: 480px) {
	main {
		width: 90vw;
		max-width: 90vw;
	}

	/* Header */
	header a {
		display: none;
	}

	.search {
		display: none;
	}

	header > div > div:first-child {
		width: 20vw;
	}

	header > div > div:last-child {
		width: 22vw;
	}

	header > div > div:last-child i {
		font-size: 22px;
	}

	/* Articles */
	.card-info div {
		width: 45%;
	}

	/* Nav-center */
	.nav-center > div:not(:first-child) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		justify-items: center;
	}

	/* Birthdays */
	.birthday-info p:nth-child(2) {
		display: none;
	}
}
