@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* CSS reset */
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #eff3f8;
}

h2 {
	font-size: 13px;
	font-weight: 700;
	color: #343a40;
	margin: 15px;
}

h3 {
	font-weight: 500;
	font-size: 16px;
}

/* -------- HEADER -------- */

header {
	background: linear-gradient(178deg, #2a5ca6 10%, #77b256 90%);
	position: fixed;
	width: 100vw;
}

header > div {
	background: url(./images/patternECOStransparente.png);
	padding: 0 30px;
	display: flex;
	height: 50px;
	justify-content: space-between;
}

header > div > div:last-child i,
header > div > div:last-child span {
	cursor: pointer;
}

header > div > div:first-child {
	width: 50vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > div > div:last-child {
	display: flex;
	width: 8%;
	align-items: center;
	justify-content: space-between;
}

header > div > div:last-child i {
	color: white;
	font-size: 26px;
}

header > div > div:last-child i:last-child {
	font-size: 16px;
	margin-left: 4px;
}

header img {
	width: 100px;
}

.menu {
	color: white;
	font-size: 20px;
	font-weight: 700;
}

.menu i {
	margin-right: 8px;
}

.menu:hover {
	padding: 10px;
	background-color: rgba(58, 58, 58, 0.425);
}

.search {
	position: relative;
}

.search input {
	height: 30px;
	width: 400px;
	border-radius: 4px;
	background-color: #404b4b56;
	border: none;
	padding: 10px;
}

.search input::placeholder {
	font-size: 14px;
	color: white;
	opacity: 1;
}

.search i {
	position: absolute;
	color: white;
	right: 10px;
	top: 8px;
}

/* ---- Main and Section Structure ---- */

main {
	width: 90vw;
	margin: auto;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-column-gap: 20px;
	padding: 70px 0;
}

section {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, #cfcfcf4d 0px 1px 3px -1px;
	border-radius: 5px;
	background-color: #f8f9fa;
	padding: 15px;
	margin-bottom: 15px;
}

section > div:first-child {
	margin: -15px;
	border-bottom: 1px solid #d9d9d9cb;
	margin-bottom: 20px;
}

section.birthdays > div:nth-child(3),
section.birthdays > div:nth-child(5) {
	border-bottom: 1px solid #d9d9d9cb;
	margin: -15px;
	padding-top: 20px;
	margin-bottom: 5px;
}

section.birthdays {
	padding-bottom: 0;
}

/* -------- Articles -------- */

.articles > div:not(:first-child) {
	background-color: white;
	box-shadow: #b6b6b6cb 0px 2px 5px -1px, #cfcfcf4d 0px 1px 3px -1px;
	border-radius: 4px;
	display: flex;
	margin-top: 20px;
}

.articles > div:not(:first-child):hover {
	cursor: pointer;
}

.articles > div > div > p {
	font-size: 14px;
	font-weight: 400;
}

.articles > div > img {
	width: 200px;
	height: 200px;
	margin-right: 10px;
}

.articles > div > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px 10px 5px 0;
}
.card-info {
	display: flex;
	justify-content: space-between;
	color: #6c757d;
}

.card-info > div {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-info i {
	font-size: 16px;
}

.card-info span {
	font-size: 12px;
}

.card-info img {
	width: 16px;
}

#pagination {
	display: none;
}

/* -------- Nav Center -------- */

.nav-center > div:not(:first-child) {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 15px;
	justify-items: center;
}
.nav-center > div > div {
	box-shadow: #b6b6b6cb 0px 2px 5px -1px, #cfcfcf4d 0px 1px 3px -1px;
	border-radius: 5px;
	padding: 20px 0;
	width: 120px;
	color: #33a76f;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.nav-center > div > div:hover {
	background: linear-gradient(120deg, #77b256, #2a5ca6);
	color: white;
}

.nav-center i {
	font-size: 26px;
	margin-bottom: 3px;
}
.nav-center p {
	font-size: 13px;
	font-weight: 700;
}

/* -------- Birthdays -------- */

.birthdays img {
	width: 70px;
	border-radius: 100%;
	margin-right: 20px;
}

.birthdays div:first-child {
	margin-bottom: 0;
}

.birthdays > div > div {
	padding: 20px;
	display: flex;
	border-bottom: 1px solid #d9d9d9cb;
	margin: 0 -15px;
}

.birthday-info p:last-child {
	color: #6c757d;
	font-size: 14px;
	padding-top: 6px;
}

.birthdays i {
	margin-right: 8px;
}

.birthdays h3 {
	margin-bottom: 10px;
}
