/* CSS reset */
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

header {
	background: linear-gradient(178deg, #2a5ca6 10%, #77b256 90%);
}

header > div {
	background: url(./images/patternECOStransparente.png);
	padding: 6px 40px;
	display: flex;
	justify-content: space-between;
}

header > div > div:first-child {
	width: 50vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > div > div:last-child {
	display: flex;
	width: 8%;
	align-items: center;
	justify-content: space-between;
}

header > div > div:last-child i {
	color: white;
	font-size: 26px;
}

header img {
	width: 100px;
}

.menu {
	color: white;
	font-size: 18px;
	font-weight: 500;
}

.search {
	position: relative;
}

.search input {
	height: 30px;
	width: 400px;
	border-radius: 4px;
	background-color: #404b4b56;
	border: none;
	padding: 10px;
}

.search input::placeholder {
	font-size: 14px;
	color: white;
	opacity: 1;
}

.search i {
	position: absolute;
	color: white;
	right: 10px;
	top: 8px;
}
